@import data.{Event,Product}
@(data: Map[Event, (Seq[Product], Seq[Product])])(implicit messages: Messages, flash: Flash, request: RequestHeader)

<html>
    @head(title = messages("shopping.list.title"))
    <body class="bg-light">
        <div class="container">
            @if(data.isEmpty) {
                <div class="jumbotron">
                    <h1>@messages("shopping.list.noed.title")</h1>
                    <p>@messages("shopping.list.noed.text")</p>
                </div>

            }

            <!-- Todo: print error messages -->

            @helper.form(action = routes.ShoppingController.checkout()) {
                @helper.CSRF.formField

                @itemList(data.mapValues(_._1), "shopping.list.tickets.title")
                @itemList(data.mapValues(_._2), "shopping.list.goodies.title")

                @if(data.nonEmpty) {
                    <button type="submit" class="btn btn-success">@messages("shopping.list.checkout")</button>
                }
            }
        </div>
    </body>
</html>
