@(userForm: Form[(String, String, String, String)])(implicit messages: Messages, flash: Flash, request: RequestHeader)
@import views.html.utils._

<html>
    @styles = {
        <link href="@routes.Assets.versioned("/stylesheets/login.css")" rel="stylesheet" />
    }
    @head(title = messages("users.resetpwd.title"), otherStyles = styles)
    <body class="text-center">
        @helper.form(action = routes.UsersController.passwordResetSend(), 'class -> "form-signin") {
            @helper.CSRF.formField

            <img class="mb-4" src="@routes.Assets.versioned("/images/logo.png")" alt="" width="150" height="125">
            <h1 class="h3 mb-3 font-weight-normal">@messages("users.resetpwd.inside_title")</h1>

            @if(userForm.hasGlobalErrors) {
                <div class="alert alert-danger" role="alert">
                @userForm.globalErrors.map(_.format).mkString("<br>")
                </div>
            }

            <input type="hidden" name="email" value="@userForm("email").value.get">
            <input type="hidden" name="code" value="@userForm("code").value.get">


            @utils.input(userForm("password"), 'label -> "users.login.password", 'type -> "password", 'labelclass -> "sr-only")
            @utils.input(userForm("password_repeat"), 'label -> "users.signup.password_repeat", 'type -> "password", 'labelclass -> "sr-only")
            <button class="btn btn-lg btn-primary btn-block" type="submit">@messages("users.resetpwd.reset_button")</button>
        }
    </body>
</html>
