@(userForm: Form[(String, String, String, String, String)])(implicit messages: Messages, flash: Flash, request: RequestHeader)
@import views.html.utils._

<html>
    @head(title = messages("users.signup.title"))
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <img class="mb-4" src="@routes.Assets.versioned("/images/logo.png")" alt="" width="150" height="125">
                <h2>@messages("users.signup.inside_title")</h2>

                @if(userForm.hasGlobalErrors) {
                    <div class="alert alert-danger" role="alert">
                    @userForm.globalErrors.map(_.format).mkString("<br>")
                    </div>
                }
            </div>

            @helper.form(action = routes.UsersController.postSignup()) {
                @helper.CSRF.formField



                <div class="row">
                    @utils.input(userForm("lastname"), 'groupclass -> "col-md-6 mb-3", 'label -> "users.signup.lastname", 'type -> "text")
                    @utils.input(userForm("firstname"), 'groupclass -> "col-md-6 mb-3", 'label -> "users.signup.firstname", 'type -> "text")
                </div>

                @utils.input(userForm("email"), 'groupclass -> "mb-3", 'label -> "users.login.email", 'type -> "email")

                <div class="row">
                    @utils.input(userForm("password"), 'groupclass -> "col-md-6 mb-3", 'label -> "users.login.password", 'type -> "password")
                    @utils.input(userForm("password_repeat"), 'groupclass -> "col-md-6 mb-3", 'label -> "users.signup.password_repeat", 'type -> "password")
                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">@messages("users.signup.signup_button")</button>
            }

        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2018 PolyJapan</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="@routes.UsersController.login()">@messages("users.signup.login")</a></li>
            </ul>
        </footer>
    </body>
</html>
