@import views.html.documents.template
@(event: data.Event, products: Map[data.Product, Int], orderId: Int, codes: (String, String, String), code: String)

@template(event, "Goodies #" + orderId, codes._1, codes._2, codes._3, code) {

    <h3>Billet Goodies // Goodies Ticket</h3>

    <p>
        Montrez ce billet au stand PolyJapan pour récupérer vos goodies ! <strong>Attention !</strong> Ce ticket ne vous donne pas accès au festival.
        <br>Show this ticket at PolyJapan's booth to retrieve your goodies!  <strong>Watch out!</strong> This ticket doesn't give you an access to the convention.
    </p>

    <h3>Items:</h3>

    <table class="bordered">
        <tr>
            <th style="width: 10%;">Qté</th>
            <th style="width: 70%;">Produit</th>
            <th style="width: 10%;">Px Unit</th>
            <th style="width: 10%;">Px Total</th>
        </tr>

        @for(item <- products) {
            <tr>
                <td>@item._2</td>
                <td>@item._1.name</td>
                <td>@item._1.price</td>
                <td>@{
                    item._2 * item._1.price
                }</td>
            </tr>
        }

        <tr>
            <td colspan="3"><b>Total</b></td>
            <td>@{
                products.map(p => p._1.price * p._2).sum
            }</td>
        </tr>
    </table>

}

