@(event: data.Event)

<html>
    <body>
        <h2>Votre invitation à @event.name</h2>
        <img src="@event.ticketsImage.get" alt="Japan Impact Poster" /><br>

        <p>Bonjour, <br>
            Le comité Japan Impact a l'immense plaisir de vous inviter à notre événement @event.name ! <br>
            Vous trouverez en pièces jointes de cet email vos invitations, sous forme de billets à présenter aux entrées.
            Vous pouvez les imprimer ou bien les présenter directement sur l'écran de votre smartphone. <br>
            Veuillez noter que ces invitations ne sont pas nominatives, mais qu'elles ne peuvent être utilisées qu'une seule fois.</p>
        <p>Nous vous souhaitons une agréable visite,<br>
            Le comité Japan Impact
        </p>
    </body>
</html>