@(poster: String, event: data.Event, product: data.Product, codes: (String, String, String), code: String)

@template(event, product.name, poster, codes._1, codes._2, codes._3, code) {

    <h3>@product.name</h3>

    <p>@Html(product.longDescription.replaceAll("\n", "<br>"))</p>

    <h2>How to get there?</h2>

    <p>
        Public transportation: metro m1 or bus 705, stop EPFL
        <br>By car, a few parkings are available on the campus
    </p>

    <h2>Comment venir ?</h2>
    <p>
        En transports publics: métro M1 ou bus 705, arrêt EPFL
        <br>En voiture, plusieurs parkings sont disponibles sur le campus
    </p>

}
